{% extends "header.html" %}
{% block title %}BookIt — Restaurants{% endblock %}
{% block content %}
<div class="restaurant-container">
    <!-- Restaurant Image and Name -->
    <section class="restaurant-header"> 
        <img src="{{ url_for('static', filename='assets/restaurant-placeholder.jpg') }}" alt="Restaurant Image" class="restaurant-image">
        <h2 class="restaurant-name">Pick Your Restaurant!!</h2>
    </section>
    
    <br>
    <!--
    <button id="useLocBtn">Use My Location</button>
    <div id="map" style="height: 500px; width: 100%;"></div>
    -->
    
    <section class="restaurant-card">
        <!-- TODO: Make 'restaurant-details-menu' a Box with (maybe) 
                The Restaurant Image with The Name Under It-->
        <div class="sort-buttons">
            <a href="{{ url_for('restaurant_page', sort='name') }}">Sort by Name</a>
            <a href="{{ url_for('restaurant_page', sort='rating') }}">Sort by Rating</a>
            <a href="{{ url_for('restaurant_page', sort='distance') }}">Sort by Distance</a>
        </div>
        <br>
        {% for restaurant in restaurants %}
        <a href="{{ url_for('restaurant', restaurant_id=restaurant.RID) }}">
            <button>
                {{restaurant.Name}}
                {% if restaurant.distance_miles is not none %}
                    <p>Distance: {{ "%.1f"|format(restaurant.distance_miles) }} miles</p>
                {% endif %}
            </button>
        </a>
        <br>
        {% endfor %}
    </section>
</div>
{% endblock %}
