<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookIt — Welcome</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <a href="{{ url_for('home') }}" class="logo">🍽️ BookIt</a>
  </header>

  <main>
    <section class="welcome_page">
      <h1>Welcome to BookIt🍽️!</h1>
      <p2>Discover. Reserve. Enjoy.</p2>
      <div class="links">
        <a class="button" href="{{ url_for('createaccount') }}">Sign Up</a>
        <a class="button" href="{{ url_for('login') }}">Login</a>
      </div>
      <p style="font-size: 20px;">Choose an option above to start planning your next night out!</p>
      <p style="font-size: 22.5px;" >Our Goal:</p>
      <p style="font-size: 20px;">At BookIt, we make planning your next night out simple and enjoyable. Our platform allows users to easily reserve tables at their favorite restaurants and discover exciting local events happening nearby. Whether you're looking for a casual dinner or something new to do in town, BookIt helps take the stress out of deciding where to go or what to do. We believe planning should be part of the fun — not the frustration — and we're here to help you make every night out one to remember.</p>


    </section>
  </main>

  <footer>
    <a href="#">Report a Problem</a>
  </footer>
</body>
</html>
