{% extends "header.html" %}
{% block title %}BookIt — Restaurants{% endblock %}
{% block content %}
<div class="restaurant-container">
    <!-- Restaurant Image and Name -->
    <section class="restaurant-header"> 
        <img src="{{ url_for('static', filename='assets/restaurant-placeholder.jpg') }}" alt="Restaurant Image" class="restaurant-image">
        <h2 class="restaurant-name">Pick Your Restaurant!!</h2>
    </section>
    
    <br>
    <!--
    <button id="useLocBtn">Use My Location</button>
    <div id="map" style="height: 500px; width: 100%;"></div>
    -->
    
    <section class="restaurant-card">
        <!-- TODO: Make 'restaurant-details-menu' a Box with (maybe) 
                The Restaurant Image with The Name Under It-->
        {% for restaurant in restaurants %}
        <a href="{{ url_for('restaurant', name=restaurant.Name) }}">
            <button>
                {{restaurant.Name}}
                <!-- Insert Distance -->
            </button>
        </a>
        <br>
        {% endfor %}
    </section>
</div>
{% endblock %}
