<!DOCTYPE html>
<html>
    <head>
        <title>BookIt Create Account</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <div>
            <!-- Create a sign up form here -->
        <form method="post" action="/createaccount">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="FirstName" value="" required/>
            <br>

            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" name="LastName" value="" required/> 
            <br>

            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" value="" required/>

            <label for="PhoneNumber">Phone Number: </label>
            <input type="tel" id="PhoneNumber" name="PhoneNumber" value="" pattern="[0-9]{10}" />

            <label for="StreetName">Street Name:</label>
            <input type="text" id="StreetName" name="StreetName" value="" required/> 
            <br>

            <label for="City">City:</label>
            <input type="text" id="City" name="City" value="" required/> 
            <br>

            <label for="State">State:</label>
            <input type="text" id="State" name="State" value="" required/> 
            <br>

            <label for="ZipCode">Zip Code:</label>
            <input type="text" id="ZipCode" name="ZipCode" value="" required/> 
            <br>

            <label for="Location">Location: </label>
            <input type="text" id="Location" name="Location" value="" required/>

            <label for="Password">Password:</label><br>
            <input type="password" id="Password" name="Password"><br><br>

            <input type="submit" value="Submit">
        </form>     
        </div>

        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
