{% extends "header.html" %}
{% block title %}BookIt — Landing Page {% endblock %}
{% block content %}

 <main>
   <section class="calendar">
    <h3>Upcoming Reservations</h3>

    {% if upcoming and upcoming|length %}
    <div class="res_list">
        {% for r in upcoming %}
            <div class="res_item">

                <!-- Date + Time -->
                <div class="res_date">
                    {{ r.Date.strftime("%a, %b %d, %Y") }}
                    at 
                    {{ r.Date.strftime("%I:%M %p") }}
                </div>

                <!-- Restaurant Name -->
                <div class="res_destination">
                    {{ r.restaurant.Name }}
                </div>

                <!-- Party Size -->
                <div class="res_size">
                    Party Size: {{ r.NumberOfGuests }}
                </div>

                <!-- Special Event (optional) -->
                {% if r.SpecialEvent %}
                <div class="res_event">
                    Event: {{ r.SpecialEvent }}
                </div>
                {% endif %}

                <!-- Special Requests (optional) -->
                {% if r.SpecialRequests %}
                <div class="res_requests">
                    Requests: {{ r.SpecialRequests }}
                </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>

    {% else %}
        <p>No upcoming reservations. 
           <a href="{{ url_for('restaurant_page') }}">Find a table</a>
        </p>
    {% endif %}
</section>


   <section class="restaurants">
       <h3>Browse by Cuisine</h3>
       <div class="cuisine_grid">
           {% for c in cuisines %}
               <a class="cuisine_card" href="{{url_for('restaurant_page')}}?cuisine={{ c }}">
                   <div class="cusine_name">{{ c }}</div>
               </a>
               {% endfor %}
       </div>
   </section>


   <section class="venues">
       <h3>Popular Nearby</h3>
       <p> Use <em>Browse by Cuisine</em> to filter, or view <a href="{{ url_for('restaurant_page') }}">all</a></p>
    {% endif %}
   </section>
  
 </main>


 <footer>
   <a href="#">Report a Problem</a>
 </footer>

{% endblock %}
